

button:active {
    box-shadow: 0 1px #666;
    transform: translateY(1px);
  }

.btn1 {
    padding: 15px 30px;
    border-radius: 12px;
    border: 2px solid black;
    margin: 10px;
    text-align: center;
}

.btn2 {
    padding: 15px 30px;
    border-radius: 12px;
    border: 2px solid black;
    margin: 10px;
    text-align: center;
    background-color: #112031;
    color: cornsilk;
}

.btn1:hover {
    background-color: #555555;
    color: white;
    
}


.btn2:hover {
    background-color: white;
    color: black;
    border: 2px solid #555555;
}

.btn3 {
    background-color: white;
    color: black;
    border: 2px solid #555555;
  }
  
  .btn3:hover {
    background-color: #555555;
    color: white;
  }

.event-card {
    border-radius: 25px;
    position: relative;
    padding: 25px 15px;
    background-color: #FFF8E5;
    margin: 50px 0;
    height: 150px;
    box-shadow: 0 2px 5px #ccc;
    text-align: left;
}
  
.event-card-top {
    border-radius: 25px 25px 0 0;
    height: 70px;
    width: 100%;
    background-color: #F0E5CF;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
}
  
.event-details {
    margin: 50px 20px 20px 20px;
    color:black;
}

.home-style{
  min-height: 100%;
  min-width: 600px;
  height: 100vh;
}

.home-content{
    background-color: #F7F6F2;
    min-height: 600px;
    min-width: auto;
}



.box1{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30vh;
  width: 20rem;
  height: 16rem;
}
.box2{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30vh;
  width: 20rem;
  height: 16rem;
}
.box3{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30vh;
  width: 20rem;
  height: 16rem;
}


.home-content-detail{
  display: flex;
  flex-wrap: wrap;
  margin-left:auto;
  margin-right: auto;
}


.home-content-detail-text{
  text-align: center;
  margin-left:auto;
  margin-right: auto;
  min-width: 290px;
  min-height: auto;
  width: 20rem;
  height: 16rem;
  color: #FEFBF3;
  background-color: black;
}
.home-content-img{
  text-align: center;
  margin-left:auto;
  margin-right: auto;
}

.home-content-img-size{
  width: 20rem;
  height: 16rem;
  min-height: 1.2rem;
  min-width: 1rem;
}

.activity{
    text-align: center;
}

/* Login style */
.login_signup_Firm {
    margin-left: auto;
    margin-right: auto;
    height: 60vh;
    min-height: 350px;
    max-width: 600px;
    min-width: 250px;
    background-size: 100px 100px;
    border-radius: 20px;
    box-shadow: 4px 3px 7px 2px #00000040;
    padding: 40px;
    box-sizing: border-box;
  }
  .heading {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
  }
  .heading h1 {
    transform: rotate(2deg);
    padding: 0.2rem 1.2rem;
    border-radius: 20% 5% 20% 5%/5% 20% 25% 20%;
    background-color: #E6E6E6;
    font-size: 1.5rem;
  }
  
  .form {
    text-align: right;
    margin-right: 35%;
  }
  
  .btn4 {
    padding: 10px 15px;
    border-radius: 12px;
    border: 2px solid black;
    margin: 10px;
    text-align: center;
    background-color: #345b63;
    color: cornsilk;
  }
  
  .btn4:hover {
    background-color: white;
    color: black;
    border: 2px solid #555555;
  }
  
  button:active {
    box-shadow: 0 1px #666;
    transform: translateY(1px);
  }
  
.background {
  background-color: #F7F6F2;
  height: 100vh;
}

/*Dashboard*/
.dashboard-background-style{
  background-color: #F7F6F2;
  min-height: 900px;
  height: 90vh;
}